<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>RStudioHub</string>
	<key>CFBundleIdentifier</key>
	<string>com.zhangjing.RStudioHub</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RStudioHub</string>
	<key>CFBundleDisplayName</key>
	<string>RStudioHub</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.71</string>
	<key>CFBundleVersion</key>
	<string>97</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>RStudioHub 需要辅助功能权限，以便列出 RStudio 窗口并在实例之间切换。</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 ZhangJing. All rights reserved.</string>
</dict>
</plist>
